.digital{
	background-color: #3B0B39;
}
.internet{
	background-color: black;
}
.marketing{
	background-color: #3767E9;
}
.mom span{
	font-size: 20px;
	text-align: center;
}
.online{
	background-color: black;
}
.people{
	margin: 0px 0px 10px;
}
nav img{
	width: 20%;
}